html, body {
	height: 100%;
	width: 100%;
	font-family: "Century Gothic", sans-serif;
}

a, a:hover { 
	color: inherit; 
} 

/* CSS for smooth scrolling */
@media (max-width: 768px) {
    .navbar .nav-pills {
		display: inline-block;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/* Home Page */
#home {
	background: url(img/home.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size:cover;
	padding-top: 500px;
}

footer {
	padding: 20px 0;
}