html, body {
	height: 100%;
	width: 100%;
	font-family: "Century Gothic", sans-serif;
	background: url(img/background.jpg) repeat;
}

a, a:hover { 
	color: inherit; 
}

.pad-top {
	padding-top: 60px;
}

#home {
	background: url(img/home.jpg) no-repeat center center fixed;
	background-position: 0 0%;
	height: 80%;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#about {
	margin-top: 145px;
}

.panel{
	margin: 40px 40px;
}

footer {
	padding: 20px 0;
}

footer .container, #contact .container {
	padding-top: 0px;
}